@font-face {
    font-family: PorkyFont;
    src: url(fonts/PORKYS_.TTF);
}

html {
    background-color: rgb(255, 123, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(36, 36, 144);
}

h1 {

    font-size: 5em;
    color: rgb(36, 36, 144);
    font-family: PorkyFont;
    text-align: center;
    text-decoration: none;
}
    h1 :hover{
        color: rgb(52, 52, 232);
        text-decoration: none;
    }


#nav{
    font-size: 15px;
    text-align: center;
    position: sticky;
    padding: 1px;
    /* top: 0; */

    
}



    #nav li{
        display: inline-flex;
        margin-left: 30px;
        margin-right: 30px; 
        font-weight: bold;
        padding-top: 10px;

    }

    #nav a {
        text-decoration: none;
        color: #00A79D;
        background-color: #87D3E2;
        padding: 10px;
        border-radius: 10px;
        /* margin: 30px; */
    }

    #nav a:hover{
        color: #87D3E2;
        background-color: #00A79D;
    }

.float-img-left {
        float: left;
        width: 30%;
        max-width: 300px;
        margin-left: 20px;
        /* height: auto;
        margin-right: 1em;
        margin-bottom: .25em; */
        
}

.logo{
    width: 30%;
    max-width: 250px;
    align-items: center;
}

.intro {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    /* margin-right: 40px; */
    background-color: #87D3E2;
    padding: 10px;
    border-radius: 10px;
}

#onec-grid{
	padding:2em;
	display: grid;
	grid-template-columns: 300px 150px 300px;
	grid-template-rows: 150px 150px 150px 150px 300px 300px 300px;
	gap: 10px;
    justify-content: center;
}
    #onec-grid p{
        color: rgb(255, 255, 255);
        font-size: 35px;
        line-height: 45px;
        font-weight: bold;
        background-color: #00A79D;
        padding: 10px;
        padding-top: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #onec-grid img{
        width: 100%;
        height: 100%;
    }
    #onec-grid video{
        width: 100%;
        height: 100%;
    }

    #nickgraph{
        grid-column: 1/ span 2;
        grid-row: 1;
    }

    #td{
        grid-column: 1/ span 2;
        grid-row: 4;
    }

    #kibble{
        grid-column: 3;
        grid-row: 1 / span 2 ;
    }
    #greensplash{
        grid-column: 3;
        grid-row: 3 / span 2  ;
    }

    #visual{
        grid-column: 1 / span 2;
        grid-row: 2 / span 2 ;  
    }

    #tdshow{
        grid-column: 2 / span 2;
        grid-row: 5 
    }

    #text{
        grid-column: 1 / span 2;
        grid-row: 6 / span 2;
    }

.project-flex {    
    display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
	justify-content: center;
	align-items: center;
	align-content: center;
    /* gap: 30px; */
}

    .project-flex img{
        width: 70%;
        min-width: 250px;
        max-width: 800px;
    }

/* for project page */
/* #projects-grid{
    
	padding:10px;
	display: grid;
	grid-template-columns: 100px 500px 100px;
	grid-template-rows: 400px 300px;
	gap: 5px;
    align-items: center;
    
        
}
    
    #projects-grid img{
        width: 100%;
        height: 100%;
    }

    #star{
        grid-column: 2;
        grid-row: 2; 
    }

    #onec{
		
        grid-column: 1;
        grid-row: 1;
        
    } */

    /* for interactive typeface assignement */
.gridnewp5{
    
	padding:10px;
	display: grid;
	grid-template-columns: 600px 600px;
    grid-template-rows: 600px 600px 600px 600px 600px;
	gap: 40px;
    justify-content: center;
}
    .gridnewp5 iframe{
        width: 100%;
        height: 100%;
    }

    .i{
        grid-column: 1;
        grid-row: 1; 
    }

.grid-layout{
        display: grid;
        grid-template-columns: 550px 550px;
        grid-template-rows: 750px 700px 850px 700px;
        grid-template-areas: 
        "a b"
        "c d"
        "e f"
        "g h"
        "i j";
        margin: 20px;
        gap:20px;
        color: #00A79D;
        text-align: center;
        font-size: 20px;
        justify-content: center;
        
 }
 .grid-layout iframe{
    width: 100%;
    height: 70%;
}
    
    
        .a{
            grid-area: a;
            
        }
    
        .b{
            
            grid-area: b;
            
        }
    
        .c{
            
            grid-area: c;
        }
    
        .d{
            
            grid-area: d;
        }
    
        .e{
            
            grid-area: e;
        }
    
        .f{
            
            grid-area: f;
        }
    
        .g{
            
            grid-area: g;
        }

footer{
    text-align: center;
}

    footer p{
       
        font-size: 30px;
        font-weight: bold;
        display: inline-flex;
        border-radius: 10px;
        color: #00A79D;
        background-color: #87D3E2;
        padding: 10px;
    }

    footer a{
        text-decoration: none;
        color:#00A79D;
        /* font-size: 30px;
        font-weight: bold;
        display: inline-flex; */
    }
    footer :hover{
        color:#87D3E2;
        background-color: #00A79D;
    }

.container{
    flex-wrap: wrap;
    align-items: center;
}
    .container img{
        width: 40%;
        height: 40%;
    }

#contact{
    width: 20%;
    position:fixed;
    bottom:0px;
    left:78%;
    min-width: 110px;
}

.flex-p2 {
    padding: 10px;
    margin: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    
}
    .flex-p2 iframe{
        width: 600px;
        height: 600px;
        
    }