@font-face {
    font-family: PorkyFont;
    src: url(../fonts/PORKYS_.TTF);
}

html {
    background-color: rgb(203, 241, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0 30px;
}


a {
    text-decoration: none;
    color: rgb(36, 36, 144);
    font-family: PorkyFont;
    letter-spacing: 2px;
}

/* header{
    width: 10%;
    height: auto;
    margin: 0 45%;
    min-width: 300px;
    max-width: 500px;
} */

h1 {

    font-size: 5em;
    color: rgb(36, 36, 144);
    font-family: PorkyFont;
    text-align: center;
    text-decoration: none;
    background-color: #87D3E2;
    /* background-color: rgb(203, 241, 255); */
    padding: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    h1 :hover{
        color: rgb(52, 52, 232);
        text-decoration: none;
    }


#nav{
    font-size: 20px;
    font-family: PorkyFont;
    letter-spacing: 2px;
    text-align: center;
    position: sticky;
    padding: 1px;
    /* top: 0; */

    
}



    #nav li{
        display: inline-flex;
        margin: 0 30px;
        font-weight: bold;
        padding-top: 10px;

    }

    #nav a {
        text-decoration: none;
        color: #00A79D;
        background-color: #87D3E2;
        padding: 10px;
        border-radius: 10px;
        /* margin: 30px; */
    }

    #nav a:hover{
        color: #87D3E2;
        background-color: #00A79D;
    }


.float-img-left {
        float: left;
        width: 30%;
        max-width: 300px;
        margin: 0 0px;
        /* height: auto;
        margin-right: 1em;
        margin-bottom: .25em; */
        
}

.logo{
    width: 30%;
    max-width: 250px;
    align-items: center;
    margin: 0 40%;
}

.intro {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    /* margin-right: 40px; */
    background-color: #87D3E2;
    border-radius: 17px;
    padding: 15px;
    margin: 15px;
}



.art img{
    width: 32%;
    max-width: 500px;
    margin: 10; 
    transition: transform .5s ease-in-out;
}
    .art img:hover{
        transform: scale(150%);
    
    }
    .art video{
        width: 32%;
    max-width: 500px;
    margin: 10;
    }
    .art video :hover{
        transform: scale(150%);
    }


.back2school img{
     width: 32%;
    max-width: 700px;
    margin: auto;
     transition: transform .5s ease-in-out;
}
    .back2school :hover{
        transform: scale(150%);
        
    }

.sokoban{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;  
}

.sokoban img{
   
   height: 30vw;
   max-height: 400px;

    transition: transform .5s ease-in-out;
}
    .sokoban img:hover{
        transform: scale(150%);
     
    }
.sokoban video{
   
   height: 30vw;
   max-height: 400px;

    transition: transform .5s ease-in-out;
}
 .sokoban video:hover{
        transform: scale(150%);
     
    }
.onec34{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;  
}

.onec34 img{
    /* width: 32%;
   max-width: 600px; */
   height: 30vw;
   max-height: 600px;
    /* max-height: 500px; */
    /* display: block;
  margin: 0 auto; */
    transition: transform .5s ease-in-out;

	/* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* align-items: center; */
	/* align-content: center; */
}
    .onec34 img:hover{
        transform: scale(150%);
        
            
    }
    .onec34 video{
    width: 32%;
    height: auto;
    }
    
.onechance img{
    width: 32%;
   max-width: 600px;
   
    /* max-height: 500px; */
    /* display: block;
  margin: 0 auto; */
    transition: transform .5s ease-in-out;

	/* display: flex; */
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* align-items: center; */
	/* align-content: center; */
}
    .onechance img:hover{
        transform: scale(150%);
        
            
    }
    .onechance video{
    width: 32%;
    height: auto;
    }
    .onechance video:hover{
    transform: scale(150%); 
            
    }
/* .project-flex {    
    display: flex;
    flex-wrap: wrap;
   

}

    .project-flex img{
        width: 50%;
        min-width: 150px;
        max-width: 800px;
        grid-area: 5px;
    } */


#backbutt a{
    text-decoration: none;
    color: #00A79D;
    background-color: #87D3E2;
    position:fixed;
    top:15px;
    padding: 10px;
    border-radius: 17px;
    font-size: 30px;
}

    #backbutt a:hover{
      color: #87D3E2;
        background-color: #00A79D;
    }

footer{
    text-align: center;
}

    footer a{
       
        font-size: 30px;
        font-weight: bold;
        display: inline-flex;
        border-radius: 17px;
        text-decoration: none;
        color: #00A79D;
        background-color: #87D3E2;
        padding: 10px;
    }

    footer a:hover{
        color: #87D3E2;
        background-color: #00A79D;
    }

.container{
    flex-wrap: wrap;
    align-items: center;
}
    .container img{
        width: 40%;
        height: 40%;
    }

#contact{
    width: 20%;
    position:fixed;
    bottom:0px;
    left:78%;
    min-width: 200px;
}

.projicon{
    width: 10%;
}
.projlogo{
     width: 40%;
     padding:0%;
}

@media (max-width: 1300px) {
.sokoban img{
    height: 25vw;
}
.sokoban video{
    height: 25vw;
}
}

@media (max-width: 1000px) {
  h1, h2 {
    margin: 10px;
    font-size: 2rem;
  }
   #contact{
   
    left:70%;
}  
.intro {
    font-size: 20px;
    line-height: 25px;
}
}



@media (max-width: 700px) {
  html{
    margin: 0 10px;
  }

  h1, h2 {
    margin: 10px;
    font-size: 1.2rem;
    
  }

  #nav li{
        
        margin:10px;
        
    }
  #contact{
   
    left:50%;
    }  
  .art img{
   
    min-width: 100px;
}

.onec34 img{
    height: 40vw;
}
.sokoban img{
    height: 25vw;
}
}
@media (max-width: 450px) {
    .onec34 img{
    height: 80vw;
}
.onec34 img{
    height: 80vw;
}

html{
    margin: 10 0px;
  }
}